:root{
    --background-color: #181e36;
    --primary-color: #0387f6;
    --secondary-color: #F67203;
    --text-color: #FFFFFF;
    --sub-color: #2e3349;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media only screen and (min-width:320px){
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
        border: var(--primary-color) solid 3px;
        padding: 10px;
        margin: 0 auto;
        width: 50vw;
        margin-top: 10vh;
    }

    form button{
        grid-column: 1 / span 2;
        width: 50%;
        margin: 0 auto;
    }

    input{
        width: 100%;
        box-sizing: border-box;
        border: var(--primary-color) solid 3px;
        border-radius: 10px;
        background-color: var(--sub-color);
        padding: 5px;
        color: var(--text-color);
        font-size: 0.75em;
    }
}

@media only screen and (min-width:768px){
    
}

@media only screen and (min-width:1024px){
    
}