:root{
    --background-color: #181e36;
    --primary-color: #0387f6;
    --secondary-color: #F67203;
    --text-color: #FFFFFF;
    --sub-color: #2e3349;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#error_message{
    color: red;
}

@media only screen and(min-width: 320px){
    
}

@media only screen and(min-width: 768px){
    
}

@media only screen and(min-width: 1024px){
    
}