:root{
    --background-color: #181e36;
    --primary-color: #0387f6;
    --secondary-color: #F67203;
    --text-color: #FFFFFF;
    --sub-color: #2e3349;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#servicesFilters{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

#servicesSort, #servicesSearchBar{
    width: 100%;
    box-sizing: border-box;
    border: var(--primary-color) solid 3px;
    border-radius: 10px;
    background-color: var(--sub-color);
    padding: 5px;
    color: var(--text-color);
    margin: 0 auto;
    font-size: 1.1rem;
}

@media only screen and (min-width: 320px) {
    #services{
        display: grid;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        justify-items: center;
    }

    .service{
        width: 50vw;
        box-sizing: border-box;
        border: var(--primary-color) solid 3px;
        border-radius: 10px;
        background-color: var(--sub-color);
        padding: 10px;
        color: var(--text-color);
    }

    .service p{
        margin: 2.5vh 0;
    }

    .book, #final_book{
        background-color: var(--secondary-color);
        width: 60%;
        padding: 7px;
        border: 0px solid;
        border-radius: 7px;
        font-weight: bold;
        margin: 0 auto;
        display: block;
        color: var(--text-color)
    }

    #final_book{
        font-size: 1.2em;
        width: 50%;
    }

    .book a{
        color: var(--text-color);
        font-size: 1.2em;
        text-decoration: none;
    }

    #selected_service p{
        margin: 2.5vh 0;
    }

    #selected_service input, select{
        border: var(--primary-color) solid 3px;
        border-radius: 10px;
        background-color: var(--sub-color);
        padding: 10px;
        color: var(--text-color);
    }

    #selected_service button, input, select{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px){
    #services{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .service{
        width: 25vw;
    }

    #servicesSearchBar, #servicesSort{
        width: 85%;
    }

    .book{
        width: 50%;
    }

    #final_book{
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    #services{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .service{
        width: 20vw;
    }

    .book{
        width: 60%;
    }

    #final_book{
        width: 20vw;
    }
}