@media only screen and (min-width: 320px) {
    #servicesSearchBar{
        background-color: var(--primary-color);
    }

    #searchIcon{
        width: 7.5vw;
    }

    .service p{
        margin: 10px 0;
    }

    .customButton a{
        color: var(--text-color);
        text-decoration: none;
    }

    #selected_service{
        display: block;
    }

    #selected_service h2{
        margin-top: 0;
        text-align: center;
    }

    #selected_service p{
        margin: 10px 0;
    }

    .final_book{
        margin-top: 10px;
    }
}

@media only screen and (min-width: 480px) {
    #searchIcon{
        width: 5vw;
    }
}

@media only screen and (min-width: 768px){
    #services{
        background-image: url('/automuhely_web/public/assets/imgs/shifter.jpg');
        background-size: cover;
        background-position: center;
    }

    #searchIcon{
        width: 3vw;
    }

    .customGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

#service_message a{
    text-decoration: none;
    color: var(--sub-secondary-color);
    font-weight: 600;
}

#service_message{
    font-size: 1.25rem;
}