/*
rgb(63, 71, 102) gray_ - background
rgb(32, 36, 51) darkblue_
rgb(3, 135, 246) blue_
rgb(246, 114, 3) pumpkin
rgb(255, 255, 255) white_
*/

:root{
    --background-color: rgb(32, 36, 51);
    --primary-color: rgb(3, 135, 246);
    --secondary-color: rgb(246, 114, 3);
    --text-color: rgb(255, 255, 255);
    --sub-color: rgb(63, 71, 102);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#logo, #logoHamburger{
    min-width: 1vw;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

h1{
    display: inline-block;
    font-size: 2.5rem;
    margin: 20px auto 20px 0;
    background-color: var(--sub-color);
    border-radius: 15px;
    padding: 10px;
    width: auto;
}

#extraButtons{
    display: none;
}

main{
    padding: 0 10px;
}

@media only screen and (min-width: 320px) {
    #profile{
        background-color: var(--secondary-color);
        border: none;
        border-radius: 15px;
        padding: 7px 10px;
        cursor: pointer;
        color: var(--text-color);
    }

    header{
        position: relative;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
    }

    nav{
        display: none;
        position: absolute;
        right: 0;
        top: calc(12.5vw + 20px);
        background-color: var(--sub-color);
        padding: 10px;
        border: var(--primary-color) solid 3px;
        border-radius: 15px;
        text-align: center;
    }

    nav a{
        display: block;
        text-decoration: none;
        color: white;
        margin: 5px 0;
    }

    #logoHamburger{
        margin: 0 0 0 auto;
        display: block;
    }


    #logo, #logoHamburger{
        width: 12.5vw;
    }

    #extraButtons {
        margin-top: 10px;
        border-radius: 5px;
        left: 0;
    }
    
    #extraButtons button {
        display: block;
        margin: 5px 0;
        width: 100%;
        padding: 7px;
        background-color: var(--secondary-color);
        color: var(--text-color);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        border: none;
    }
}

@media only screen and (min-width: 480px){
    #logoHamburger, #logo{
        width: 11vw;
    }

    nav{
        top: calc(11vw + 20px);
    }
}

@media only screen and (min-width:544px){
    #logoHamburger, #logo{
        width: 8.5vw;
    }

    nav{
        top: calc(8.5vw + 20px);
    }
}

@media only screen and (min-width: 768px) {
    header, #profileMenu button{
        font-size: 1.35rem;
    }

    #logo{
        margin-right: auto;
        width: 7.5vw;
    }

    #logoHamburger{
        display: none;
    }

    nav{
        display: flex !important;
        position: static;
        border: none;
        flex-direction: row;
        background-color: transparent;
        padding: 10px;
        gap: 5vw;
        margin-right: 0;
        align-items: center;
        background-color: var(--secondary-color);
    }

    nav a{
        margin: 0;
    }

    #home{
        display: none;
    }

    #profile{
        padding: 0;
    }

    #extraButtons{
        position: absolute;
        top: calc(7.5vw + 20px);
        right: 0;
        background-color: var(--sub-color);
        padding: 10px;
        border: var(--primary-color) solid 3px;
        border-radius: 20px;
        margin: 0 10px 0 auto;
        left: auto;
    }
}

@media only screen and (min-width:896px){
    #logoHamburger, #logo{
        width: 5vw;
    }

    #extraButtons{
        top: calc(5vw + 20px);
    }
}

@media only screen and (min-width: 1024px){
    #logo{
        width: 5vw;
    }

    #extraButtons{
        top: calc(5vw + 20px);
    }
}

@media only screen and (min-width: 1366px){
    #logo{
        width: 3.5vw;
    }

    #extraButtons{
        top: calc(3.5vw + 20px);
    }
}

.hidden {
    display: none;
}

footer{
    text-align: center;
}